<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewjerd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2CF9E4D1E3CD96100C8B2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2CF9E611E3CD96200C8B2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2CF9E6C1E3CD96200C8B2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
